.home-container {
    position: relative;
    min-height: 76vh;
    padding: 50px 40px;
    margin-top: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-container .logo {
    position: inherit;
    height: 70vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    user-select: none;
    transform: translate(-200px);
    opacity: 0;
    animation: fade-in 1.5s ease 1 0.5s forwards;
}

.home-container .logo .main-img {
    position: absolute;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.home-container .logo .main-img.active {
    animation: spin var(--main-img-anim-time) linear;
}

.home-container .logo .circle {
    position: absolute;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background-color: rgb(4, 4, 44);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    cursor: pointer;
    pointer-events: auto;
    transition: all .2s ease-in-out;
}

.home-container .logo .main-img.active .circle {
    opacity: 1;
    transition: 0.3s ease;
}

.home-container .logo .main-img.active .circle:hover {
    height: 96px;
    width: 96px;
}

.home-container img {
    position: absolute;
    height: 270px;
    width: 270px;
    border-radius: 50%;
    border: 3px solid rgb(108, 161, 197);
}

.scroll-down {
    transform: rotate(90deg);
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.scroll-down hr {
    background-color: blue;
    width: 20px;
}

.scroll-down h5 {
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 100;
}

.scroll-down .scroll {
    transform: rotate(-90deg);
    font-size: 100;
}


/* Animations */
@keyframes spinIcon {
    from {
        pointer-events: none;
    }

    to {
        transform: var(--transformEnd);
        pointer-events: none;
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@keyframes fade-in {
    to {
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes icon-hover {
    to {
        transform: scale(1.1);
    }
}


/* Iconos tecnologías */
.home-container .logo .main-img.active .circle:nth-child(1) {
    background: url(../../assets/html5-icon.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    transform: translateY(-240%) rotate(0deg);
    --transformEnd: translateY(-240%) rotate(-360deg);
    animation: spinIcon var(--main-img-anim-time) linear;
}

.home-container .logo .main-img.active .circle:nth-child(2) {
    background: url(../../assets/css-icon.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    transform: translate(180%, -180%) rotate(0deg);
    --transformEnd: translate(180%, -180%) rotate(-360deg);
    animation: spinIcon var(--main-img-anim-time) linear;
}

.home-container .logo .main-img.active .circle:nth-child(3) {
    background: url(../../assets/react-icon.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    transform: translate(240%) rotate(0deg);
    --transformEnd: translate(240%) rotate(-360deg);
    animation: spinIcon var(--main-img-anim-time) linear;
}

.home-container .logo .main-img.active .circle:nth-child(4) {
    background: url(../../assets/typescript-icon.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    transform: translate(-180%, 180%) rotate(0deg);
    --transformEnd: translate(-180%, 180%) rotate(-360deg);
    animation: spinIcon var(--main-img-anim-time) linear;
}

.home-container .logo .main-img.active .circle:nth-child(5) {
    background: url(../../assets/javaScript-icon.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    transform: translateY(240%) rotate(0deg);
    --transformEnd: translateY(240%) rotate(-360deg);
    animation: spinIcon var(--main-img-anim-time) linear;
}

.home-container .logo .main-img.active .circle:nth-child(6) {
    background: url(../../assets/node_js-icon.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    transform: translate(180%, 180%) rotate(0deg);
    --transformEnd: translate(180%, 180%) rotate(-360deg);
    animation: spinIcon var(--main-img-anim-time) linear;
}

.home-container .logo .main-img.active .circle:nth-child(7) {
    background: url(../../assets/redux-icon.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    transform: translateX(-240%) rotate(0deg);
    --transformEnd: translateX(-240%) rotate(-360deg);
    animation: spinIcon var(--main-img-anim-time) linear;
}

.home-container .logo .main-img.active .circle:nth-child(8) {
    background: url(../../assets/cSharp-icon.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    transform: translate(-180%, -180%) rotate(0deg);
    --transformEnd: translate(-180%, -180%) rotate(-360deg);
    animation: spinIcon var(--main-img-anim-time) linear;
}